<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link 
        rel="stylesheet"
        href="css2/Style2.css">
        <meta name="viewport" content="width=device-width, inital-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
<body>
    <h1 class="lightseagreen">The RPG Inventory</h1>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

    <h1 class="center">Weapons</h1>

    <br>
    <br>
    

    <div class="container">

    

    <img src="/img/HxREew0.jpeg" class="imageForStore" width="200px" height="200px"/>

    <img src="/img/ZW9uUYq.jpeg" class="imageForStore2" width="200px" height="200px"/>

</div>


    <div class="container">


    <h3 class="title1"><a href="users/login">Medieval Sword</a></h3>

    <h3 class="title2"><a href="users/login">Noble Axe</a></h3>
    </div>


    <div class="container">


        <h3 class="currency1">$50</h3>
    
        <h3 class="currency2">$35</h3>
        </div>


        <div class="container">


            <p class="text1">A sword recommeneded for anyone who is a knight warrior. It has great attack, and good speed.</p>
        
            <p class="text2">An axe recommeneded for anyone who is an axe hero. It's heavier, and will make you slower if you're always moving, but has quite the strength. More than just for show.</p>
            </div>


            



            <br>
            <br>
            <br>
            <br>

    <h1 class="center">Armor</h1>

    <br>
    <br>
    


    <div class="container">

    <img src="/img/ku1fyyB.jpeg" class="imageForStore3" width="100px" height="200px"/>

    <img src="/img/FQdenx6.jpeg" class="imageForStore4" width="100px" height="200px"/>

    </div>


    <div class="container">

    <h3 class="title3"><a href="users/login">Blue Medieval Tonic with Armor Underneath</a></h3>

    
    <h3 class="title4"><a href="users/login">Royal Medieval Armor</a></h3>

    </div>


    <div class="container">


        <h3 class="currency1">$30</h3>
    
        <h3 class="currency2">$30</h3>
        </div>


        <div class="container">


            <p class="text3">A tonic and armor to wear with pride. We can ensure the armor underneath is just as defensive as the item being sold next to it. (Mug not included.)</p>
        
            <p class="text4">An armor that depicts a medieval royalty to an organization or single person. It has great defense. </p>
            </div>



            <br>
            <br>
            <br>
            <br>

    <h1 class="center">Rarites</h1>

    <br>
    <br>
    


    <div class="container">

    <img src="/img/fBGRqXV.jpeg" class="imageForStore5" width="100px" height="200px"/>

    <img src="/img/o7stij3.jpeg" class="imageForStore6" width="150px" height="200px"/>

    </div>


    <div class="container">

    <h3 class="title5"><a href="users/login">Magical Rod</a></h3>

    
    <h3 class="title6"><a href="users/login">Wizard Garments</a></h3>

    </div>


    <div class="container">


        <h3 class="currency1">$65</h3>
    
        <h3 class="currency2">$65</h3>
        </div>


        <div class="container">


            <p class="text5">A rod dug up and found from someone's backyard. It is merely seen as a collecter's item with a popular story. Rumor has it it contains powerful and unique abilities handy to the one who knows how to tinker with its inner mechanical and scientific workings, and owns the correct parts for its capabilities.</p>
        
            <p class="text6">A robe equiped with many hidden pockets to perform many entertaining and unexpected tricks. Was worn by a nerdy, brilliant chemist student in his local, high school show who amazed his audience with his performance. </p>
            </div>





<br>
<br>  
<br>
<br>
    <footer class="footerCenter">Pictures do not belong to maker of the website.</footer>
<br>
<br>
    <footer class="footerCenter">Website made only for increasing knowledge of software engineering for the maker of the site.</footer>
</body>
</html>